﻿@model Formation.Models.DataBase.Evaluation

@{
    ViewData["Title"] = "Edit";
    List<Formation.Models.DataBase.Category> categories = null;
    if(ViewData["Categories"] != null)
    {
        categories = (List<Formation.Models.DataBase.Category>)ViewData["Categories"];
    }
}

<div class="container">

    <h2 class="text-center">Edit</h2>

    <h4 class="text-center">Sheet</h4>

    <div class="row">
        <div id="categories" class="row text-center">

            <div id="LvlHeader">
                <table class="table table-purple table">
                    <thead>
                        <tr>
                            <th class="col-sm-8 text-start"> Description </th>
                            <th class="col-sm-3"> Level </th>
                            <th class="col-sm-1"> Selection </th>
                        </tr>
                    </thead>
                </table>
            </div>


            @if(categories != null && categories.Count > 0)
            {
                @foreach(Formation.Models.DataBase.Category category in categories)
                {
                    <div name="category" id="category_@category.CategoryId"></div>
                }
            }
            else
            {
                <p> This sheet is empty. </p>
            }
        </div>

        <div class="mt-4 mb-2">
            <label asp-for="ObserverComment" class="form-label"></label>
            <textarea asp-for="ObserverComment" type="text" class ="form-control"></textarea>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <div class="row">
                <div>
                    <button id="btn_close" class="btn btn-blue">Close Evaluation</button>
                </div>
            </div>
        </div>
    </div>
    
</div>


@section Scripts{
        <script type="text/javascript" src="~/js/site.js"></script>

        <script type="text/javascript" src="~/js/pages/edit_sheet_evaluation_page.js"></script>

        <script type="text/javascript" src="~/js/api/api_category.js"></script>
        <script type="text/javascript" src="~/js/api/api_point.js"></script>
        <script type="text/javascript" src="~/js/api/api_sheet.js"></script>
        <script type="text/javascript" src="~/js/api/api_sheet_operation.js"></script>
        <script type="text/javascript" src="~/js/api/api_evaluation.js"></script>


        <script type="text/javascript">
            $(document).ready(function () {

                var sheetOperationURL = { };
                sheetOperationURL.getAllURL = '/api' + '@Url.RouteUrl("defaultArea", new { controller = "SheetOperations", area="Formation", action=""})';
                sheetOperationURL.getOneURL = '/api' + '@Url.RouteUrl("defaultArea", new { controller = "SheetOperations", area="Formation", action=""})';
                sheetOperationURL.createURL = '/api' + '@Url.RouteUrl("defaultArea", new { controller = "SheetOperations", area="Formation", action=""})';
                console.log(sheetOperationURL.createURL);

                var categoryURL = {}
                categoryURL.getAllURL = '/api' + '@Url.RouteUrl("defaultArea", new { controller = "Categories", area="Formation", action=""})';
                categoryURL.getOneURL = '/api' + '@Url.RouteUrl("defaultArea", new { controller = "Categories", area="Formation", action=""})';

                var pointURL = {}
                pointURL.getAllURL = '/api' + '@Url.RouteUrl("defaultArea", new { controller = "Points", area="Formation", action=""})';
                pointURL.getOneURL = '/api' + '@Url.RouteUrl("defaultArea", new { controller = "Points", area="Formation", action=""})';

                var sheetURL = {}
                sheetURL.getAllURL = '/api' + '@Url.RouteUrl("defaultArea", new { controller = "Sheets", area="Formation", action=""})';
                sheetURL.getOneURL = '/api' + '@Url.RouteUrl("defaultArea", new { controller = "Sheets", area="Formation", action=""})';

                var evaluationURL = {}
                evaluationURL.checkURL = '/api' + '@Url.RouteUrl("defaultArea", new { controller = "Evaluations", area="Formation", action="Check"})';
                evaluationURL.uncheckURL = '/api' + '@Url.RouteUrl("defaultArea", new { controller = "Evaluations", area="Formation", action="Uncheck"})';
                evaluationURL.closeURL = '/api' + '@Url.RouteUrl("defaultArea", new { controller = "Evaluations", area="Formation", action="Close"})';

                var partialview = {};
                partialview.catURL = '@Url.RouteUrl("defaultArea", new { controller = "Evaluations", area="Formation", action="Edit_Table_Category"})';
                partialview.pointURL = '@Url.RouteUrl("defaultArea", new { controller = "Evaluations", area="Formation", action="Edit_Table_Point_SO"})';

                var view = {};
                view.details = '@Url.RouteUrl("defaultArea", new { controller = "Evaluations", area="Formation", action="Details"})';

                var api_point = new Point(pointURL.getAllURL, pointURL.getOneURL, null);
                var api_category = new Category(categoryURL.getAllURL, categoryURL.getOneURL, null);
                var api_sheet_operation = new SheetOperation(sheetOperationURL.getAllURL, sheetOperationURL.getOneURL, null);
                var api_sheet = new Sheet(sheetURL.getAllURL, sheetURL.getOneURL, null, null);
                var api_evaluation = new Evaluation(null, null, null, null, evaluationURL.checkURL, evaluationURL.uncheckURL, evaluationURL.closeURL);

                var editSheetEvaluation = new EditSheetEvaluation(@Model.EvaluationId, view.details, partialview.catURL, partialview.pointURL, api_category, api_point, api_sheet, api_sheet_operation, api_evaluation);
            });
    </script>
}


