html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {

}









/*-----------------Buttons-----------------*/
.btn-blue {
    background-color: #34588A;
    border-color: #34588A;
    color: white;
}
.btn-green {
    background-color: #85C87A;
    border-color: #85C87A;
    color: white;
}
.btn-red {
    background-color: #EB6454;
    border-color: #EB6454;
    color: white;
}
.btn-orange {
    background-color: #E0842D;
    border-color: #E0842D;
    color: white;
}
.btn-purple {
    background-color: #A159D1;
    border-color: #A159D1;
    color: white;
}

.btn-icon span {
    margin-left:4px;
}

@media(max-width: 992px) {
    .btn-icon span {
        font-size: 0;
        margin: 0;
    }
}




/*---------Datatable Page Chooser style-------------*/

.page-item .page-link {
    background-color: #A159D1;
    color: white;
    border-color: transparent;
}

.page-item.active .page-link {
    background-color: #534F53AA;
    border-bottom: 2px solid;
    border-top: 0px solid;
    border-left: 0px solid;
    border-right: 0px solid;
    border-color: #A159D1;
}

.page-item.disabled .page-link {
    background-color: #A159D126 !important;
    color: lightgrey;
    border-color: transparent;
}



/*--------------Sticky Table-----------------*/






/*-------------------------------------------*/


/*-------------Scroll Style------------------*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #534F53;
}

.sticky-cell-top {
    position: sticky;
    top: 0px;
    z-index: 2;
}

.sticky-cell-left {
    position: sticky;
    left: 0px;
    z-index: 1;
}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}

/*-------------------------------------------*/




/*--------------- Sheets --------------------*/


.table-purple {
    background-color: #D6A2E8;
    color: black;
}


.table-rounded {
    border: 1px solid #ddd;
    border-collapse: separate;
    border-left: 0;
    border-radius: 20px;
    border-spacing: 0px;
}

.table-rounded thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-collapse: separate;
}

.table-rounded tr {
    display: table-row;
}

.table-rounded td {
    border-top: 1px solid #ddd;
}

.table-rounded thead:first-child tr:first-child th:first-child, .table-rounded tbody:first-child tr:first-child td:first-child {
    border-radius: 20px 0 0 0;
}

.table-rounded thead:last-child tr:last-child th:first-child, .table-rounded tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 20px;
}





.pt {
    background-color: #8EFF8B!important;
    color: black;
}

.pt-rmv {
    background-color: #FF6D88 !important;
}

.pt-add {
    background-color: #E6DB39 !important;
}
/*-------------------------------------------*/




/*--------------- Dark Modal --------------------*/

.modal-content {
    background-color: #212529;
}




/*-------------------------------------------*/




/*--------------- Dark Nav Link --------------------*/

.nav-link {
    color: white;
}

.nav-link.active {
    color: black;
}

.nav-link:hover:not(.active) {
    color: grey;
}

/*-------------------------------------------*/