﻿@model IEnumerable<Formation.Models.DataBase.Certification>

<table class="table table-sm table-striped table-hover table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evaluation.Sheet.Equipment)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Evaluation)
            </th>
            <th>
                Certification
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level.LevelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evaluation.Sheet.Equipment.Name)
            </td>
            <td class="text-center">
                <a asp-area="Formation" asp-controller="Evaluations" asp-action="Details" asp-route-id="@item.EvaluationId" class="btn btn-sm btn-icon btn-green"><i class="bi bi-eye"></i><span>See</span></a>
            </td>
            <td>
                <a asp-area="Formation" asp-controller="Certifications" asp-action="Details" asp-route-id="@item.CertificationId" class="btn btn-sm btn-icon btn-green"><i class="bi bi-eye"></i><span>See</span></a>
            </td>
        </tr>
}
    </tbody>
</table>
