﻿@model Formation.Models.DataBase.Employee

@{
    ViewData["Title"] = "Create";
}

<div class="container">

    <h2 class="text-center">Create</h2>

    <h4 class="text-center">Employee</h4>
    <hr />
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="col-md-4 text-center">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-2">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-4 row">
                        <a asp-action="Index" class="btn btn-warning col-5">Back to List</a>
                        <input type="submit" value="Create" class="btn btn-primary col-5 offset-2" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
