﻿@model Formation.Models.DataBase.Employee

@{
	ViewData["Title"] = "Details";
}

<div class="container">

	<h2 class="text-center">Details</h2>

	<h4 class="text-center">Employee</h4>
	<hr />
	<div class="row">
		<div class="d-flex justify-content-center mt-4">
			<ul class="nav nav-tabs nav-fill col-8  mb-3" id="pills-tab" role="tablist">
				<li class="nav-item" role="presentation">
				<button class="nav-link active" id="pills-information-tab" data-bs-toggle="pill" data-bs-target="#pills-information" type="button" role="tab" aria-controls="pills-information" aria-selected="true">Information</button>
			  </li>
			  <li class="nav-item" role="presentation">
				<button class="nav-link" id="pills-evaluations-tab" data-bs-toggle="pill" data-bs-target="#pills-evaluations" type="button" role="tab" aria-controls="pills-evaluations" aria-selected="false">Evaluations</button>
			  </li>
			  <li class="nav-item" role="presentation">
				<button class="nav-link" id="pills-certifications-tab" data-bs-toggle="pill" data-bs-target="#pills-certifications" type="button" role="tab" aria-controls="pills-certifications" aria-selected="false">Certifications</button>
			  </li>
			</ul>
		</div>
		<div class="tab-content" id="pills-tabContent">
			<div class="tab-pane fade show active row" id="pills-information" role="tabpanel" aria-labelledby="pills-information-tab">
				<div class="row d-flex justify-content-center">
					<div id="information" class="col-10">
						<div class="d-flex justify-content-center">
							<div class="col-md-4 text-center">

								<div class="form-group mb-2">
									<label asp-for="FirstName" class="control-label"></label>
									<input asp-for="FirstName" class="form-control" disabled="disabled"/>
								</div>
								<div class="form-group mb-2">
									<label asp-for="LastName" class="control-label"></label>
									<input asp-for="LastName" class="form-control" disabled="disabled"/>
								</div>

								<div class="form-group mt-4 mb-4 row d-flex justify-content-center">
									<a asp-action="Edit" asp-route-id="@Model?.EmployeeId" class="btn btn-blue col-6">Edit</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="pills-evaluations" role="tabpanel" aria-labelledby="pills-evaluations-tab">
				<div class="row d-flex justify-content-center">
					<div id="evaluations" class="col-10">

					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="pills-certifications" role="tabpanel" aria-labelledby="pills-certifications-tab">
				<div class="row d-flex justify-content-center">
					<div id="certifications" class="table-responsive col-10">

					</div>
				</div>
			</div>
		</div>

		<div class="row d-flex justify-content-center mt-4">
			<div class="col-4">
				<div class="form-group mt-4 mb-4 row d-flex justify-content-center">
					<a asp-action="Index" class="btn btn-warning col-6">Back to List</a>
				</div>
			</div>
		</div>
		

	</div>

</div>



@section Scripts{
        <script type="text/javascript" src="~/js/site.js"></script>

        <script type="text/javascript" src="~/js/pages/details_employee.js"></script>


        <script type="text/javascript">
            $(document).ready(function () {

                var partialview = {};
                partialview.evalURL = '@Url.RouteUrl("defaultArea", new { controller = "Employees", area="HumanResources", action="Evaluations"})';
				partialview.certURL = '@Url.RouteUrl("defaultArea", new { controller = "Employees", area="HumanResources", action="Certifications"})';

                var detailsEmployee = new DetailsEmployee(@Model.EmployeeId, partialview.evalURL, partialview.certURL);

            });
    </script>
}