﻿@model Formation.Models.DataBase.Employee

@{
    ViewData["Title"] = "Delete";
}

<div class="container">

    <h2 class="text-center">Delete</h2>

    <h4 class="text-center">Employee</h4>
    <hr />
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="col-md-4 text-center">

                <div class="form-group mb-2">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" disabled/>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" disabled/>
                </div>
    
                <form asp-action="Delete">
                    <input type="hidden" asp-for="EmployeeId" />

                    <div class="form-group mt-4 row">
                        <a asp-action="Index" class="btn btn-warning col-5">Back to List</a>
                        <input type="submit" value="Delete" class="btn btn-danger col-5 offset-2" />
                    </div>
                </form>
                </div>
        </div>
    </div>

</div>
