﻿@using Formation.Models.DataBase
@model IEnumerable<Formation.Models.DataBase.Evaluation>
@{
    Employee employee = (Employee)ViewBag.Employee;
}

<div class="row">
    <p>
        <a class="btn btn-blue" asp-area="Formation" asp-controller="Evaluations" asp-action="Create" asp-route-id="@employee.EmployeeId"><i style="margin-right:5px;" class="bi bi-plus-circle"></i> Evaluation</a>
    </p>
</div>

<table class="table table-sm table-striped table-hover table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateStartEval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEndEval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId1Navigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sheet.Equipment.Name)
            </th>
            <th class="text-center">@Html.DisplayNameFor(model => model.Certification)</th>
            <th class="text-center">Evaluation</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateStartEval)
            </td>
            <td>
                @if (item.DateEndEval.HasValue)
                {
                    @Html.DisplayFor(modelItem => item.DateEndEval)
                }
                else
                {
                    <text>En cours</text>   
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId1Navigation.Identity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sheet.Equipment.Name)
            </td>
            <td class="text-center">
                @if (item.DateEndEval.HasValue)
                {
                   if(item.Certification == null){
                        <a id="btn_cert" asp-action="Create" asp-controller="Certifications" asp-area="Formation" asp-route-id="@item.EvaluationId" class="btn btn-sm btn-ico btn-blue"><i class="bi bi-plus-circle"></i> Create </a>
                   }else{
                        <a asp-area="Formation" asp-controller="Certifications" asp-action="Details" asp-route-id="@item.Certification.CertificationId" class="btn btn-sm btn-icon btn-green"><i class="bi bi-eye"></i><span>See</span></a>
                   }        
                }
            </td>
            <td class="text-center">
                @if (!item.DateEndEval.HasValue)
                {
                        <a asp-area="Formation" asp-controller="Evaluations" asp-action="Edit" asp-route-id="@item.EvaluationId" class="btn btn-sm btn-icon btn-blue"><i class="bi bi-pencil"></i><span>Edit</span></a>
                }
                <a asp-area="Formation" asp-controller="Evaluations" asp-action="Details" asp-route-id="@item.EvaluationId" class="btn btn-sm btn-icon btn-green"><i class="bi bi-eye"></i><span>See</span></a>
            </td>
        </tr>
}
    </tbody>
</table>
