﻿@model Formation.Models.DataBase.Certification

@{
    ViewData["Title"] = "Create";
}
<div class="container">

    <h2 class="text-center">Create</h2>

    <h4 class="text-center">Certification</h4>
    <hr />
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="col-md-4 text-center">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-2">
                        <label asp-for="EvaluationId" class="control-label"></label>
                        <input type="hidden" asp-for="EvaluationId" class ="form-control" asp-items="ViewBag.EvaluationId"/>
                        <input type="text" asp-for="EvaluationId" class ="form-control" readonly>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" readonly/>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="LevelId" class="control-label"></label>
                        <select asp-for="LevelId" class ="form-control" asp-items="ViewBag.LevelId"></select>
                    </div>
            
                    <div class="form-group mt-4 row">
                        <a asp-controller="Evaluations" asp-action="Details" asp-route-id="@Model.EvaluationId" class="btn btn-warning col-5">Back to Evaluation</a>
                        <input type="submit" value="Create" class="btn btn-primary col-5 offset-2" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
