﻿@model Formation.Models.DataBase.Sheet

@{
    ViewData["Title"] = "Edit";
    List<Formation.Models.DataBase.Category> categories = ViewBag.Categories;
}

<div class="container">

    <h2 class="text-center">Edit</h2>

    <h4 class="text-center">Sheet</h4>
    <hr />
</div>



<div class="modal fade" id="point_modal" tabindex="-1" aria-labelledby="point_modal_label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a new point</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label for="Category" class="control-label">Catégorie</label>
                <input for="Category" class="form-control" asp-items="" list="categories"/>
                <datalist id="categories">
                    @foreach(Formation.Models.DataBase.Category category in ViewBag.AllCategories)
                    {
                        <option data-value="@category.CategoryId">@category.Name</option>
                    }
                </datalist>
                <span class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label for="Text" class="control-label">Texte</label>
                <input for="Text" class="form-control" list="names"/>
                <datalist id="names">
                    @foreach(Formation.Models.DataBase.Point point in ViewBag.AllPoints)
                    {
                        <option data-value="@point.CategoryId">@point.Text</option>
                    }
                </datalist>
                <span class="text-danger"></span>
            </div>
            <div class="form-group mt-4 col-12">
                <input type="submit" value="Create And Add" class="btn btn-primary col-10" />
            </div>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>








@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
