﻿@model Formation.Areas.HumanResources.Models.SkillMatrixVM

<div class="offset-1 col-10">
	<h2 class="text-center">Skill Matrix</h2>
	<table id="matrix-certification" class="table table-bordered table-sm align-middle table-dark" style="display:block; overflow-y: scroll; max-height:770px; ">

		<thead style="" class="">
			<tr>
				<th style="border-bottom-color:lightgrey;" colspan = 2></th>
				@foreach(var equipment in Model.Equipments){
					<th class="align-middle" style="border-bottom-color:lightgrey;  writing-mode: vertical-rl;text-orientation: sideways;text-align:center;">
						@equipment.Name
					</th>
				}
			</tr>
		</thead>
		<tbody>
			@foreach(var employee in Model.Employees)
			{
				<tr>
					<th style="">@employee.FirstName </th>
					<th style="">@employee.LastName </th>
					@{
						var certs_for_this_employee = Model.Certifications.Where(c => c.Evaluation.EmployeeId == employee.EmployeeId);
					}
					@foreach(var equipment in Model.Equipments)
					{
						var cert = certs_for_this_employee.FirstOrDefault(cert => cert.Evaluation.Sheet.EquipmentId == equipment.EquipmentId);
						if (cert != null)
						{
							<td style="background-color:@cert.Level.LevelColor; text-align:center; color:black;">@cert.Level.LevelName</td>
						}
						else{
							<td></td>	
						}
					}
				</tr>
			}
		</tbody>
	</table >
</div>

@section scripts{
	<script>
		$(document).ready(function () {

			function make_matrix_sticky (table){
				let thead_elements = table.find('thead tr');
				let height = 0;
				thead_elements.each(function(index, element){
                    $(element).each(function(index, element) {
                        $(element).css({
                            position: "sticky",
                            top: height,
                            zIndex: 2,
                        });
                    });
					height += $(element).outerHeight(true);
				});

				let tbody_elements = table.find('tbody tr');
				console.log(tbody_elements);
				tbody_elements.each(function(index, element){
					let width = 0;
                    $(element).find("th").each(function(index, element) {
                        $(element).css({
                            position: "sticky",
                            left: width,
                            zIndex: 1,
                        });
						width += $(element).outerWidth(false);
                    });
				});
			}

			make_matrix_sticky($('#matrix-certification'));
		});
	</script>
}