﻿@model Formation.Models.DataBase.SheetOperation


@if(Model.SheetStateOperation.Text == "Saved"){
    <td class="text-start"> @Model.Point.Text </td>
    <td> @if (Model.Level != null)
        {
            @Model.Level.LevelName
        }
    </td>
    <td>
        @if ((bool)ViewData["IsCheck"])
        {
            <input class="form-check-input" value="point_@Model.PointId" name="check_point" type="checkbox" checked disabled> 
        }
        else
        {
            <input class="form-check-input" value="point_@Model.PointId" name="check_point" type="checkbox" disabled> 
        }
    </td>
}
else
{
    <td> Error </td>
    <td> Error </td>
    <td> Error </td>
}
