﻿@model Formation.Models.DataBase.Evaluation

@{
    ViewData["Title"] = "Edit";
    List<Formation.Models.DataBase.Category> categories = null;
    if(ViewData["Categories"] != null)
    {
        categories = (List<Formation.Models.DataBase.Category>)ViewData["Categories"];
    }
}

<div class="container">

    <h2 class="text-center">Edit</h2>

    <h4 class="text-center">Sheet</h4>

    <div class="row">
        <div id="categories" class="row text-center">

            <div id="LvlHeader">
                <table class="table table-purple table">
                    <thead>
                        <tr>
                            <th class="col-sm-8 text-start"> Description </th>
                            <th class="col-sm-3"> Level </th>
                            <th class="col-sm-1"> Selection </th>
                        </tr>
                    </thead>
                </table>
            </div>


            @if(categories != null && categories.Count > 0)
            {
                @foreach(Formation.Models.DataBase.Category category in categories)
                {
                    <div name="category" id="category_@category.CategoryId"></div>
                }
            }
            else
            {
                <p> This sheet is empty. </p>
            }
        </div>

        <div class="mt-4 mb-2">
            <label asp-for="ObserverComment" class="form-label"></label>
            <textarea asp-for="ObserverComment" type="text" class ="form-control"></textarea>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <div class="row">
                <div>
                    <a id="btn_cert" asp-action="Create" asp-controller="Certifications" asp-route-id="@Model.EvaluationId" id="btn_close" class="btn btn-blue"> Create Certification  </a>
                </div>
            </div>
        </div>
    </div>
    
</div>







@section Scripts{
        <script type="text/javascript" src="~/js/site.js"></script>

        <script type="text/javascript" src="~/js/pages/details_sheet_evaluation_page.js"></script>

        <script type="text/javascript" src="~/js/api/api_category.js"></script>
        <script type="text/javascript" src="~/js/api/api_point.js"></script>
        <script type="text/javascript" src="~/js/api/api_sheet.js"></script>
        <script type="text/javascript" src="~/js/api/api_sheet_operation.js"></script>
        <script type="text/javascript" src="~/js/api/api_evaluation.js"></script>


        <script type="text/javascript">
            $(document).ready(function () {

                var partialview = {};
                partialview.catURL = '@Url.RouteUrl("defaultArea", new { controller = "Evaluations", area="Formation", action="Details_Table_Category"})';
                partialview.pointURL = '@Url.RouteUrl("defaultArea", new { controller = "Evaluations", area="Formation", action="Details_Table_Point_SO"})';

                var detailsSheetEvaluation = new DetailsSheetEvaluation(@Model.EvaluationId, partialview.catURL, partialview.pointURL);
            });
    </script>
}


