﻿@model Formation.Models.DataBase.Sheet

@{
    ViewData["Title"] = "Edit";
    List<Formation.Models.DataBase.Category> categories = null;
    if(ViewData["Categories"] != null)
    {
        categories = (List<Formation.Models.DataBase.Category>)ViewData["Categories"];
    }
}

<div class="container">

    <h2 class="text-center">Edit</h2>

    <h4 class="text-center">Sheet for "@Model.Equipment.Name"</h4>

    <div class="row">
        <div id="categories" class="row text-center">

            <div id="LvlHeader">
                <table class="table table-purple table">
                    <thead>
                        <tr>
                            <th class="col-sm-8 text-start"> Description </th>
                            <th class="col-sm-3"> Level </th>
                            <th class="col-sm-1"> Selection </th>
                        </tr>
                    </thead>
                </table>
            </div>


            @if(categories != null && categories.Count > 0)
            {
                @foreach(Formation.Models.DataBase.Category category in categories)
                {
                    <div name="category" id="category_@category.CategoryId"></div>
                }
            }
            else
            {
                <p> This sheet is empty. </p>
            }
        </div>
        <div class="d-flex justify-content-center mt-4">
            <div class="row">
                <div>
                    <button class="btn btn-blue" data-bs-toggle="modal" data-bs-target="#point_modal_selector"> Add A New Point </button>
                    <button id="btn_save" class="btn btn-green"> Save </button>
                    <button id="btn_removable" class="btn btn-red"> Remove Selection </button>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="modal fade" id="point_modal_selector" tabindex="-1" aria-labelledby="point_modal_label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a new point</h5>
        <button type="button" class="btn btn-red btn-icon" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-circle" style="color:white;"></i><span>Close</span></button>
      </div>
      <div class="modal-body text-center">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label for="modpt_cat_in" class="control-label">Catégorie</label>
                <input type="text" id="modpt_cat_in" class="form-control" list="modpt_cat_data"/>
                <datalist id="modpt_cat_data">
                    @foreach(Formation.Models.DataBase.Category category in (IEnumerable<Formation.Models.DataBase.Category>) ViewData["AllCategories"])
                    {
                        <option data-value="@category.CategoryId" value="@category.Name">@category.Name</option>
                    }
                </datalist>
                <span class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label for="modpt_pt_in" class="control-label">Texte</label>
                <input type="text" id="modpt_pt_in" class="form-control" list="modpt_pt_data" disabled/>
                <datalist id="modpt_pt_data">
                    @foreach(Formation.Models.DataBase.Point point in (IEnumerable<Formation.Models.DataBase.Point>) ViewData["AllPoints"])
                    {
                        <option data-value="@point.PointId" value="@point.Text">@point.Text</option>
                    }
                </datalist>
                <span class="text-danger"></span>
            </div>
            <div class="form-group mt-4 col-12">
                <input id="btn_submit" type="button" value="Create And Add" class="btn btn-blue col-10" />
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

@section Scripts{
        <script type="text/javascript" src="~/js/site.js"></script>

        <script type="text/javascript" src="~/js/pages/edit_sheet_page.js"></script>
        <script type="text/javascript" src="~/js/partial_pages/modal_point_selector.js"></script>

        <script type="text/javascript" src="~/js/api/api_category.js"></script>
        <script type="text/javascript" src="~/js/api/api_point.js"></script>
        <script type="text/javascript" src="~/js/api/api_sheet.js"></script>
        <script type="text/javascript" src="~/js/api/api_sheet_operation.js"></script>


        <script type="text/javascript">
            $(document).ready(function () {

                var sheetOperationURL = { };
                sheetOperationURL.getAllURL = '/api' + '@Url.RouteUrl("defaultArea", new { controller = "SheetOperations", area="Formation", action=""})';
                sheetOperationURL.getOneURL = '/api' + '@Url.RouteUrl("defaultArea", new { controller = "SheetOperations", area="Formation", action=""})';
                sheetOperationURL.createURL = '/api' + '@Url.RouteUrl("defaultArea", new { controller = "SheetOperations", area="Formation", action=""})';
                console.log(sheetOperationURL.createURL);

                var categoryURL = {}
                categoryURL.getAllURL = '/api' + '@Url.RouteUrl("defaultArea", new { controller = "Categories", area="Formation", action=""})';
                categoryURL.getOneURL = '/api' + '@Url.RouteUrl("defaultArea", new { controller = "Categories", area="Formation", action=""})'; 
                categoryURL.createURL = '/api' + '@Url.RouteUrl("defaultArea", new { controller = "Categories", area="Formation", action=""})';

                var pointURL = {}
                pointURL.getAllURL = '/api' + '@Url.RouteUrl("defaultArea", new { controller = "Points", area="Formation", action=""})';
                pointURL.getOneURL = '/api' + '@Url.RouteUrl("defaultArea", new { controller = "Points", area="Formation", action=""})';
                pointURL.createURL = '/api' + '@Url.RouteUrl("defaultArea", new { controller = "Points", area="Formation", action=""})';

                var sheetURL = {}
                sheetURL.getAllURL = '/api' + '@Url.RouteUrl("defaultArea", new { controller = "Sheets", area="Formation", action=""})';
                sheetURL.getOneURL = '/api' + '@Url.RouteUrl("defaultArea", new { controller = "Sheets", area="Formation", action=""})';
                sheetURL.createURL = '/api' + '@Url.RouteUrl("defaultArea", new { controller = "Sheets", area="Formation", action=""})';
                sheetURL.saveURL = '/api' + '@Url.RouteUrl("defaultArea", new { controller = "Sheets", area="Formation", action="Save"})';

                var partialview = {};
                partialview.catURL = '@Url.RouteUrl("defaultArea", new { controller = "Sheets", area="Formation", action="Edit_Table_Category"})';
                partialview.pointURL = '@Url.RouteUrl("defaultArea", new { controller = "Sheets", area="Formation", action="Edit_Table_Point_SO"})';

                var api_point = new Point(pointURL.getAllURL, pointURL.getOneURL, pointURL.createURL);
                var api_category = new Category(categoryURL.getAllURL, categoryURL.getOneURL, categoryURL.createURL);
                var api_sheet_operation = new SheetOperation(sheetOperationURL.getAllURL, sheetOperationURL.getOneURL, sheetOperationURL.createURL);
                var api_sheet = new Sheet(sheetURL.getAllURL, sheetURL.getOneURL, sheetURL.createURL, sheetURL.saveURL);

                var editSheet = new EditSheet(@Model.SheetId, partialview.catURL, partialview.pointURL, api_category, api_point, api_sheet, api_sheet_operation);

                var modalPointSelector = new ModalPointSelector(api_category, api_point, $("#point_modal_selector"), editSheet.point_chosen);

            });
    </script>
}


