﻿@model Formation.Models.DataBase.SheetOperation

@{
    var machin = ViewBag;
    var data = ViewBag.Levels;
}

@if(Model.SheetStateOperation.Text == "Saved" && Model.SheetTypeOperation.Text != "Remove"){
    <td class="pt text-start">@Model.Point.Text</td>
    <td><select name="LevelID" class="form-control text-center" asp-items="ViewBag.Levels"></select></td>
    <td> @if(Model.SheetTypeOperation.Text != "Remove"){<input class="form-check-input" value="point_@Model.PointId" name="check_point" type="checkbox">} </td>
}
else if (Model.SheetStateOperation.Text == "Unsaved")
{
    @if(Model.SheetTypeOperation.Text == "Add" ){
        <td class="pt pt-add text-start">@Model.Point.Text</td>
    }else if(Model.SheetTypeOperation.Text == "Remove"){
        <td class="pt pt-rmv text-start">@Model.Point.Text</td>
    }else if(Model.SheetTypeOperation.Text == "Modify")
    {
        <td class="pt pt-mdf text-start">@Model.Point.Text</td>
    }
    else
    {
        <td>Error</td>
    }
    <td><select name="LevelID" class="form-control text-center" asp-items="ViewBag.Levels"></select></td>
    <td> @if(Model.SheetTypeOperation.Text != "Remove"){<input class="form-check-input" value="point_@Model.PointId" name="check_point" type="checkbox">} </td>
}
