﻿@model Formation.Models.DataBase.Category

<table class="table table-dark align-middle">
    <thead>
        <tr>
            <th class="col-sm-8 text-start"> @Model.Name </th>
            <th class="col-sm-3"></th>
            <th class="col-sm-3"><input class="form-check-input" value="@Model.CategoryId" name="check_category" type="checkbox"></th>
        </tr>
    </thead>
    <tbody>
        @if(ViewData["Points"] != null){
            foreach(Formation.Models.DataBase.Point point in (IEnumerable<Formation.Models.DataBase.Point>)ViewData["Points"])
            {
                <tr id="points_@point.PointId"></tr>
            }
        }
    </tbody>
</table>

