﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Formation</title>
	@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.0/cr-1.5.6/r-2.3.0/sr-1.1.1/datatables.min.css"/>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Formation.styles.css" asp-append-version="true" />
</head>
<body class="text-light" style="background-color:#2c3034;">
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#9c27b0; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.50);">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">FormaSpace</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" asp-area="HumanResources" asp-controller="Employees" asp-action="Index">Employees</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-area="Workspace" asp-controller="Equipments" asp-action="Index">Workspaces</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-area="HumanResources" asp-controller="Certifications" asp-action="SkillMatrix">Certifications</a>
						</li>
					</ul>
					@*<div class="d-flex">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="bi bi-person-circle" style="margin-right:2px"></i>
									Full Name
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<li><a class="dropdown-item" href="#">Account</a></li>
									<li><hr class="dropdown-divider"></li>
									<li><a class="dropdown-item" href="#">Disconnect</a></li>
								</ul>
							</li>
						</ul>
					</div>*@
				</div>
			</div>
		</nav>
	</header>

	<main role="main" class="col-sm p-3">
			@RenderBody()
	</main>










	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.0/cr-1.5.6/r-2.3.0/sr-1.1.1/datatables.min.js"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
