﻿@model Formation.Models.DataBase.Evaluation

@{
    ViewData["Title"] = "Create";
    var blop = ViewBag.EmployeeEval;
    var machin = "";
}


<div class="container">

    <h2 class="text-center">Create</h2>

    <h4 class="text-center">Evaluation</h4>
    <hr />
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="col-md-4 text-center">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-2">
                        <label asp-for="DateStartEval" class="control-label"></label>
                        <input asp-for="DateStartEval" class="form-control text-center" readonly="readonly"/>
                        <span asp-validation-for="DateStartEval" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="EmployeeId" class="control-label"></label>
                        <select asp-for="EmployeeId" class ="form-control text-center" asp-items="ViewBag.EmployeeEval" readonly="readonly"></select>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="SheetId" class="control-label"></label>
                        <select asp-for="SheetId" class ="form-control text-center" asp-items="ViewBag.Sheet"></select>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="EmployeeId1" class="control-label"></label>
                        <select asp-for="EmployeeId1" class ="form-control text-center" asp-items="ViewBag.EmployeeEval"></select>
                    </div>
                    <div class="form-group mt-4 row">
                        <a class="btn btn-warning col-5" asp-area="HumanResources" asp-controller="Employees" asp-action="Details" asp-route-id="@Model.EmployeeId">Back</a>
                        <input type="submit" value="Create" class="btn btn-primary col-5 offset-2" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
