﻿@model Formation.Models.DataBase.Equipment

@{
	ViewData["Title"] = "Details";
}

<div class="container">

	<h2 class="text-center">Details</h2>

	<h4 class="text-center">Equipment</h4>
	<hr />
	<div class="row">
		<div class="d-flex justify-content-center">
			<div class="col-md-4 text-center">
				<div class="form-group mb-2">
					<label asp-for="Name" class="control-label"></label>
					<input asp-for="Name" class="form-control text-center" disabled/>
				</div>

				<div class="form-group mb-2 row">
					<a class="btn btn-blue mt-4" asp-area="Formation" asp-controller="Sheets" asp-action="Details" asp-route-id="@Model.Sheets.First().SheetId"><i class="bi-eye"></i> <span>Fiche de formation</span></a>
				</div>

				<div class="form-group mt-4 row">
					<a asp-action="Index" class="btn btn-warning col-5">Back to List</a>
					<a asp-action="Edit" asp-route-id="@Model?.EquipmentId" class="btn btn-blue col-5 offset-2">Edit</a>

				</div>
			</div>
		</div>
	</div>

</div>
