﻿@model Formation.Models.DataBase.Equipment

@{
    ViewData["Title"] = "Enable";
}

<div class="container">

	<h2>Enable</h2>

	<h4 class="text-center">Equipment</h4>
	<hr />
	<div class="row">
		<div class="d-flex justify-content-center">
			<div class="col-md-4">
				<div class="form-group mb-2">
					<label asp-for="Name" class="control-label"></label>
					<input asp-for="Name" class="form-control" disabled/>
				</div>

				<div class="form-group mt-4 row">
					<a asp-action="Index" class="btn btn-warning col-5">Back to List</a>
					<input type="submit" value="enable" class="btn btn-danger col-5 offset-2" />
				</div>
			</div>
		</div>
	</div>

</div>
