﻿@model IEnumerable<Formation.Models.DataBase.Equipment>

@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <h2 class="text-center">Workspaces</h2>

    <p>
        <a asp-action="Create" class="btn btn-blue float-end"><i style="margin-right:5px;" class="bi bi-plus-circle"></i>Create</a>
    </p>
    <table id="table" class="table table-striped table-hover d-sm-table table-dark" style="vertical-align:middle;">
        <thead>
            <tr>
                <th><input class="form-control" type="text" placeholder="Filtrer" /></th>
                <th></th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-center" style="text-align:center;">
                    <div class="row">
                        <div class="mx-auto">
                            <a asp-action="Edit" asp-route-id="@item.EquipmentId" class="btn btn-icon btn-blue"><i class="bi bi-pencil"></i><span>Edit</span></a>
                            <a asp-action="Details" asp-route-id="@item.EquipmentId" class="btn btn-icon btn-green"><i class="bi bi-eye"></i><span>Details</span></a>
                            <a asp-action="Delete" asp-route-id="@item.EquipmentId" class="btn btn-icon btn-red"><i class="bi bi-trash"></i><span>Delete</span></a>
                        </div>
                    </div>
                </td>
            </tr>
    }
        </tbody>
    </table>

</div>


@section Scripts{
    <script>
        $(document).ready( function () {
            var datatable = $('#table').DataTable({
                "autoWidth" : false,
                "scrollCollapse" : true,
                "paging": true,
                "pageLength": 10,
                "stateSave" : true,
                "stateLoaded" : function (settings, data) {
                    for (var index = 0; index < data.columns.length; index++) {
                        var inputS = $('thead tr:eq(0) th:eq(' + index + ') input, thead tr:eq(0) th:eq(' + index + ') select', table);
                        if (inputS.length == 1) {
                            if (data.columns[index].search.search[0] == '^') {
                                $(inputS).val(data.columns[index].search.search.substring(1, data.columns[index].search.search.length));
                            } else {
                                $(inputS).val(data.columns[index].search.search);
                            }
                        }
                    }
                },
                "initComplete" : function () {}
            });
            console.log(datatable.column(0));
            $('#table thead tr:eq(0) th').each(function (i) {
                $('input, select', this).on('keyup change', function () {
                    if (datatable.column(i).search() !== this.value) {
                        datatable
                            .column(i)
                            .search("^" + this.value, true, true, true)
                            .draw();
                    }
                });
            });
        });
    </script>
}