﻿@model Formation.Models.DataBase.SheetOperation

@{
    var machin = ViewBag;
    var data = ViewBag.Levels;
}

<td class="pt text-start">@Model.Point.Text</td>
<td><select name="LevelID" class="form-control text-center" asp-items="ViewBag.Levels" disabled></select></td>
<td><input class="form-check-input" value="point_@Model.PointId" name="check_point" type="checkbox" disabled></td>
