﻿@model Formation.Models.DataBase.Sheet

@{
    ViewData["Title"] = "Details";
    List<Formation.Models.DataBase.Category> categories = null;
    if(ViewData["Categories"] != null)
    {
        categories = (List<Formation.Models.DataBase.Category>)ViewData["Categories"];
    }
}

<div class="container">

    <h2 class="text-center">Details</h2>

    <h4 class="text-center">Sheet for "@Model.Equipment.Name"</h4>

    <div class="row">
        <div id="categories" class="row text-center">

            <div id="LvlHeader">
                <table class="table table-purple table">
                    <thead>
                        <tr>
                            <th class="col-sm-8 text-start"> Description </th>
                            <th class="col-sm-3"> Level </th>
                            <th class="col-sm-1"> Selection </th>
                        </tr>
                    </thead>
                </table>
            </div>


            @if(categories != null && categories.Count > 0)
            {
                @foreach(Formation.Models.DataBase.Category category in categories)
                {
                    <div name="category" id="category_@category.CategoryId"></div>
                }
            }
            else
            {
                <p> This sheet is empty. </p>
            }
        </div>


        <div class="col-6 offset-3 form-group mt-4 row">
			<a asp-area="Workspace" asp-controller="Equipments" asp-action="Details" asp-route-id="@Model.EquipmentId" class="btn btn-warning col-5">Back to Equipment</a>
			<a asp-action="Edit" asp-route-id="@Model.SheetId" class="btn btn-blue col-5 offset-2">Edit</a>
		</div>
    </div>
    
</div>

@section Scripts{
        <script type="text/javascript" src="~/js/site.js"></script>

        <script type="text/javascript" src="~/js/pages/details_sheet_page.js"></script>
        <script type="text/javascript" src="~/js/partial_pages/modal_point_selector.js"></script>


        <script type="text/javascript">
            $(document).ready(function () {
                var partialview = {};
                partialview.catURL = '@Url.RouteUrl("defaultArea", new { controller = "Sheets", area="Formation", action="Details_Table_Category"})';
                partialview.pointURL = '@Url.RouteUrl("defaultArea", new { controller = "Sheets", area="Formation", action="Details_Table_Point_SO"})';

                var editSheet = new DetailsSheet(@Model.SheetId, partialview.catURL, partialview.pointURL);
            });
    </script>
}


